html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden !important;
 	background-color: white;        
}
body, html {
  height: 100%;
  margin: 0;
}
p {
  text-align: justify;
}

div#smart a {
  color: #f9af25;
  font-size:0.9em;
}

div#smart a:hover, div#smart a:active {
  font-size: 0.95em;
  color:#f9af25;
}
/*+++++++++++++++++++++++++++++++++++++++*/
/*+++++++++++++++ Banner ++++++++++++++++*/
/*+++++++++++++++++++++++++++++++++++++++*/
#banner {
  padding-left: 0em;
  padding-right: 0em;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

.mySlides {display: none}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 10s;
  animation-name: fade;
  animation-duration: 10s;
}

@-webkit-keyframes fade {
  from {opacity: .8} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .8} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next {font-size: 11px}
}


.imagenes_banner {
  height: 25em;
  width: 100%;
}
@media only screen and (max-width: 450px) {
  .imagenes_banner {
    height:15em;
  }
}
/*+++++++++++++++++++++++++++++++++++++++*/
/*+++++++++++++ Botón Menú ++++++++++++++*/
/*+++++++++++++++++++++++++++++++++++++++*/
.btnMenu {
  font-size: 30px;
  cursor: pointer;
  position: fixed;
  top: 1.4em;
  background-color: #10101085;
  padding-left: 0.4em;
  padding-right: 0.4em;
  padding-top:0.2em;
  color: #efb810c7;
  left: 0.1em;
}

#btnSubmenu {
  color: #efb810c7; 
  font-size:20px;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0 / 61%);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 4px;
  text-decoration: none;
  font-size: 36px;
  color: #efb810c7;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #9c9999;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 50px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 0px;
  right: 35px;
  }

  .overlay-content {
  top:10%;
  }
}

.sticky {
   font-size: 30px;
  cursor: pointer;
  position: fixed;
  background-color: #10101085;
  padding-left: 0.4em;
  padding-right: 0.4em;
  top: 0em;
  padding-top:0.2em;
  color: #efb810c7;
  left: 0.1em;

}

@media only screen and (max-width: 450px) {
  .btnMenu {
    font-size: 20px;
    top: 19%;
  }
  .sticky {
    font-size: 20px;
  }

  #btnSubmenu { 
  font-size:17px;
  }
}

#submenu {
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0 / 61%);
  overflow-x: hidden;
  transition: 0.5s;
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

 .dropdown-backdrop {
    display:none;
}
/*+++++++++++++++++++++++++++++++++++++++*/
/*+++++++++++ Pie de Pagina +++++++++++++*/
/*+++++++++++++++++++++++++++++++++++++++*/
#piePagina {
  background-color: #523601;
  color: #d8cdcd;
  padding-left: 2em;
  padding-right: 2em;
}
/*+++++++++++++++++++++++++++++++++++++++*/
/*+++++++++++++ Botón Wsp +++++++++++++++*/
/*+++++++++++++++++++++++++++++++++++++++*/
.fa-whatsapp {
  background-color: #0ad561;
  font-size: 3em !important;
  color: white;
  padding: 0.15em;
  padding-right: 0.19em;
  padding-left:0.2em;
  border-radius:5em;
  position:fixed;
  top:89%;
  right:2%;
}

.fa-whatsapp:hover, .fa-whatsapp:active {
  font-size: 2.8em !important;
  top:89%;
  right:2%;
  
}
@media screen and (max-height: 450px) {
  .fa-whatsapp {
    top:80%;    
  }
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/s
/*++++++++++++ Nuestros Vinos +++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#copas {
  padding: 0.3em;
  background-color:#371b0fe0;
}
#copas:hover {
  background-color:#371b0fc7;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc; 
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: #eeeeee;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  border:0;
  margin:0.2em
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*+++++++++++ Iniciar Sesion ++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.bg {
  /* The image used */
  background-image: url("../img/login.jpg");
  
  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Add styles to the form container */
#container-login {
  position: absolute;
  right: 0;
  margin: 20px;
  max-width: 300px;
  padding: 16px;
  background-color: #717ca5d6;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #ced5e8;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #acbeea;
  outline: none;
}
/* Set a style for the submit button */
#enviar {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

#enviar:hover {
  opacity: 1;
}

#err_login {
  background-color: #ebf1ff;
  width: 20em;
  padding: 2em;
  padding-top: 0.1em;
  border-radius: 0.5em;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*+++++++++++ Navegador Admin +++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#navbar-admin {
  color:white !important;
}
#navbar-admin:hover {
  color:#717175 !important;
}

#desplegable-admin span {
  background-color:white !important;
}
#desplegable-admin:hover{
  background-color:#337ab7 !important;
}
#desplegable-admin:focus{
  background-color:#000000;
}

#jumbotrom-admin {
    background-color: white;
    padding: 0.5em;
    padding-bottom: 1em;
    border-radius: 1em;
}
#separador-admin {
  margin-top: 0.1em;
  border-top: 0.1em solid #292828;
}


/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++   Admin Mostrar   +++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#img-banner {
  height: 12em;
  margin: auto;
  border-radius: 5px;
}
#col-img-banner {
  background-color: #7f7f7f;
  margin:1em;
  padding:1em;
  border-radius:1em;
}
#col-img-banner a {
  font-size: 1.2em;
  color:#105590;
}
#col-img-banner p {
  font-size: 1.4em;
  color:black;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*+++++++++++++++++++++++   Variedad   +++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.text_descripcion {
  font-family: EB Garamond; 
  font-weight: normal;
  font-style: italic;
  font-variant: normal;
  color:black;
  padding-right:0.4em;
  padding-left:0.4em;
  font-size: 1.3em;
}

#precio_variedad {
  color:red !important;
  font-size: 1.7em !important; 
  text-align: center !important;
}
@media only screen and (max-width: 450px) {
  #precio_variedad {
    font-size: 1.1em !important;
  }
  .text_descripcion {
    font-size: 1.1em !important;
  }
}


#titulo {
  color:black;
}

#descripcion-vino {
  /*background-image: url('../img/fondo-producto.jpg');*/
  background-color: white;
}

#img-descripcion {
  width:100%;
  height:20em;
}


#descripcion-texto p, #descripcion-texto h1 {
  font-family:didot,serif,helvética;
  
}
@media only screen and (max-width: 767px) {
  #img-descripcion {
    width:100%;
    height:15em;
  }
}


#contenedor-vino {
  background-color: white;
  border-radius: 1em;
  padding: 1em;
  border-color: #958f8f;
  border-width: 1px;
  border-style: solid;
}
#contenedor-vino:hover {
  border-color: black;
}
#contenedor-vino p { 
  color:#000000;
  text-align:justify;
}
@media only screen and (max-width: 450px) {
  #contenedor-vino p { 
    color:#000000;
    text-align:justify;
    font-size: 0.8em;
  }
}


#variedad-img {
  width:60%;
  height:25em; 
  margin:auto;
}

@media only screen and (max-width: 450px) {
  #variedad-img {
    width:100%;
    height:20em; 
    margin:auto;

  }
}

/*   Efecto LightBox   */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}


/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 40%;
  height:38em; 
}

#mySlides_variedad {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 60%;
  height:100%; 
}

#mySlides_variedad img {
  width:100%;
  height:100%; 
  margin:auto;
}

@media only screen and (max-width: 450px) {
   #myModal {
     padding-top: 5.5em;
   }
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 70%;
    height:35em; 
  }

  #mySlides_variedad {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 100%;
    height:100%; 
  }

  #mySlides_variedad img {
    width:100%;
    height:100%; 
    margin:auto;
  }
}
/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

#mySlides_variedad {
  display: none;
}

.cursor {
  cursor: pointer;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}


.LeerMas {
  display: block;
} 

.text_incompleto {
  display: block;
}

.LeerMenos {
  display: none;
} 
.text_completo {
  display: none;
}


/*++++++++++++++++++++++++++++++++++++++++++++++*/
/*+++++++++  ++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++*/



#encabezado {
  background-color:#F7D366;
}

#iconoe {
  color:#310305;
  margin: 5px;
}

#correo {
  color:#310305;
  font-size: 20px;
}

@media only screen and (max-width: 450px) {
  #correo {
    font-size: 15px;
  }
  .fa-instagram, .fa-facebook-official, .fa-youtube-play, .fa-envelope-o {
    font-size: 1.5em !important;
  }
}